
.brand-filter{
    width: 50% !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.filter-action-btns{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.filter-action-btns button{
    padding: .8rem 2rem !important;
}