.brand-filter {
    width: 80%;
}

.two-col-row {
    display: flex;
    gap: 1rem;
}

.step-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-info input {
    width: 50%;
}

.permissions {
    width: 100%;
}

.table-overflow{
    width: 100% !important;
    overflow-x: scroll;
}

.checkbox-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #E4E4E4;
}

.checkbox-table th,
.checkbox-table td {
    border: 2px solid #E4E4E4;
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

.checkbox-table th {
    font-weight: 600;
}

.checkbox-table td .checkbox {
    margin-top: .5rem;
}

.box {
    border: 2px solid #E4E4E4;
    margin-top: 1rem;
}

.box-head {
    padding: .5rem;
    border-bottom: 2px solid #E4E4E4;
}

.box-body {
    padding: .5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brand-permissions {
    width: 50%;
}

.sections-action-btns-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 1rem;
}

.profile-info .phone-input__row {
    width: 50%;
}

.profile-info .phone-input__row .input-field__container>input {
    width: 100%;
}

@media (max-width: 768px) {

    .profile-info input, .brand-permissions {
        width: 100%;
    }

    .profile-info .phone-input__row {
        width: 100%;
    }

    .checkbox-table th,
    .checkbox-table td {
        padding: 10px;
    }

}