.add-new-staff-info{
    padding-top: 1rem;
}

.table-container td, .table-container th{
    padding: .8rem;
    text-align: center;
    font-size: 14px;
}

.table-container td{
    font-size: 12px;
}

.table-container .tax-action-btns{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.table-container button{
    border: none;
    background: transparent;
    cursor: pointer;
}
