.card-add {
    background-color: #FFE8E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
    min-width: 12rem;
    min-height: 12rem;
    border: none;
    cursor: pointer;
}


.plus-icon {
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset) drop-shadow(rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset);
}