/* src/components/Header.css */

.header {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.left-side h1 {
  font-size: 1rem;
  font-weight: 500;
}

.left-side img {
  width: 3rem;
  height: 3remn;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.name {
  font-size: 1rem;
  font-weight: 500;
}

.role {
  font-size: .8rem;
  font-weight: 400;
}

.right-side>button {
  border: none;
  background-color: transparent;
}


.header .right-side {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 30px; /* Adjust based on your layout */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-btn {
  padding: 8px 15px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}