/* Input Field Wrapper */
.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field label {
    font-size: 16px;
    font-weight: 500;
}

/* Input Container */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Input Styling */
.input-container input, .input-container select {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Toggle Password Button */
.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
}
