.loader-container {
    @apply flex justify-center items-center h-full fixed inset-0 z-50;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.loader {
    @apply inline-block w-16 h-16 border-4 border-white rounded-full;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
