.search-filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-filter-bar > div{
    display: flex;
    gap: 1rem;
}   

/* Responsive design */
@media (max-width: 768px) {
   
}