@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing styles below */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All scrollbars */
::-webkit-scrollbar {
  width: 3px;
  /* Vertical scrollbar width */
  height: 3px;
  /* Horizontal scrollbar height */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #F05756;
}

/* Only horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 3px;
}

/* Optional: style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: transparent;
}


/* html {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
  height: 125%;
  overflow: hidden;
} */

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}


.status {
  border-radius: 20px;
  color: white;
  font-size: 10px;
  font-weight: 400;
  padding: 6px 8px;
}

.active {
  background-color: #01CE56 !important;
  text-transform: uppercase !important;
}

.inactive {
  background-color: red;
  text-transform: uppercase;
}

.inputs-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.inputs-row {
  display: flex;
  gap: 1%;
  align-items: center;
  flex-wrap: wrap;
}

.inputs-row>.input-field,
.inputs-row>.select-input {
  width: 49%;
}

.action-btns-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.checkbox-container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .inputs-row>.input-field,
  .inputs-row>.select-input {
    width: 100%;
  }

  .inputs-row {
    gap: 1rem;
  }
}