/* src/layouts/AdminLayout.css */

.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.admin-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}


.admin-main-content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: scroll;
}